@using LoginAndReg.Models;
@model User;

<h1>Register to this Cool Site!</h1><br>
<a asp-action="LoginForm">Login Page</a><br>

<form asp-action="Register" method="post">
    <div class="form-group">
        <span asp-validation-for="FirstName" class="text-danger"></span><br>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="LastName" class="text-danger"></span><br>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Email" class="text-danger"></span><br>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Password" class="text-danger"></span><br>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="ConfirmPW" class="text-danger"></span><br>
        <label asp-for="ConfirmPW">Confirm Password</label>
        <input asp-for="ConfirmPW" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register!</button>
</form>