@using LoginAndReg.Models;
@model UserLogin;

<h1>Login to this Cool Site!</h1><br>

<a asp-action="Index">Registration Page</a><br>

<form asp-action="Login" method="post">
    <div class="form-group">
        <span asp-validation-for="Email" class="text-danger"></span><br>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Password" class="text-danger"></span><br>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Login!</button>
</form>